/* 
    style.css
    main css file for cupping care
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* global variables */
:root{
    --prim-font: 'Roboto Slab', serif;
    --prim-font-weight: 500;
    --sec-font: 'Caveat', cursive;
    --sec-font-weight: 700;
    --body-font: 'Mukta', sans-serif;
    --body-font-weight: 300;

    --prim-color: #3d474d;
    --sec-olor: #fff;
    --accent-color: #86a844;
}

html{
    font-size:16px;
    scroll-behavior: smooth;
}

.hero{
    height:100vh;
}

.hero{
    background-image: url('/assets/hero-img.jpg');
    background-size:cover;
    background-repeat:no-repeat
}

.hero.hero h1{
    margin-bottom: 18px;
    color: #fff;
}

.hero-content{
    padding:60px 0;
    color: #fff;
    
}

.hero-content p{
    margin-bottom: 30px;
}

header .container{
    padding:0;
}

.container, .container-fluid{
    padding:15px;
}

.container{
    max-width:1280px;
    margin:0 auto;
}

.container-fluid{
    max-width: 100%;
}

[class^="col-"]{
    padding:10px;
}

.col-3{
    width:33.33%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 41.66%;
}

.col-6{
    width:50%;
}

.col-7{
    width:58.33%;
}

.col-12{
    width:100%;
}

.flex{
    display:flex;
}

.f-center{
    justify-content: center;
}

.f-h-center{
    justify-content: center;
}

.f-v-center {
    align-items: center;
}

.f-j-end{
    justify-content: flex-end;
}
.f-center-center{
    justify-content:center;
    align-items: center;
}

.hr-icon-info {
    display: flex;
    align-items: center;
}

.hr-icon-info span{
    display:block;
}

.hr-icon-info .icon {
    display: inline-block;
    background: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    margin-right: 16px;
    line-height: 61px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.2)
}

.hr-icon-info img {
    width: 30px;
    
    
}

.hr-icon-info .icon-info {
    font-size: 22px;   
    color:#fff;
}


#header-logo img{
    width:150px;
}



nav ul{
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding:15px 15px;
    color:#fff;
    text-transform:uppercase;
    transition:300ms;
    font-size:16px;
}

nav a:hover{
    color: var(--prim-color);
}

nav a.active{
    color:#000;
    
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    border-radius: 24px;
    transition: 300ms ease-in-out;
}

.btn.btn-primary {
    background-color: var(--accent-color);
    color: #fff;
    font-size: 16px;
}

.btn.btn-primary:hover {
    background-color: var(--prim-color);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    transform: translateY(-12px);
}

.btn.btn-secondary {
    background-color: var(--prim-color);
    color: #fff;
    font-size: 16px;
}

.btn.btn-secondary:hover {
    background-color: var(--accent-color);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    transform: translateY(-12px);
}

section .btn{
    margin-top:20px;
}

section{
    padding:80px 0;
}

#it-cures{
    background-color:#f6f6f6;
}

.title-box{
    margin-bottom: 25px;
}

.title-box span {
    display: block;
}

.title-box .sub-title {
    font-family: var(--sec-font);
    color: var(--accent-color);
    font-size:2rem;
    margin-bottom: 10px;
}

.title-box .main-title {
    font-family: var(--prim-font);
    color: var(--prim-color);
}

.icon-box .flex{
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.icon-box .box{
    width:33.33%;
    text-align: center;
    padding:20px;
}

.icon-box span{
    display:block;
}

.icon-box img{
    display:block;
    margin:auto;
    width:100%; 
}

.icon-box .circle{
    width:95px;
    height:95px;
    border-radius:50%;
    margin: 0 auto 10px;
    border:4px dashed var(--accent-color);
    padding:20px;
    transition:200ms ease-out;
}

.icon-box .box-title{
    font-size:16px;
}

.icon-box .box:hover .circle{
    background-color:#fff;
    /* border-color:#fff;
    border-style:solid; */
}


.offset-to-right {
    margin-right: -90px;
    z-index: 1;
    background: #F8F7F6;
    padding: 60px 40px;
    border-radius: 43px;
    box-shadow: 0 8px 24px rgba(112, 144, 176, 0.15);
}


#statistics{
    background-image:url('/assets/triangle-bg.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.stat-box{
    background-color: #79973d;
    /* background-color:#9eb969; */
    position:relative;
    padding:70px 10px 40px;
    margin:0 15px;
    border-radius: 8px;
    transition: 200ms;
    user-select: none;
}

.stat-box .stat-icon{
    transition: 500ms;
}

.stat-box:hover{
    transform: translateY(-15px);
    box-shadow:0px 0px 24px rgba(112, 144, 176, 0.2);;
    
}

#statistics .col-4:nth-child(1) {
    margin-top: 30px;
}

#statistics .col-4:nth-child(2){
    margin-top:-30px;
}

#statistics .col-4:nth-child(3) {
    margin-top: 30px;
}

#statistics .col-4:nth-child(4) {
    margin-top: -30px;
}

#statistics .col-4:nth-child(2) .stat-box {
    background-color: #92b157;
}

#statistics .col-4:nth-child(3) .stat-box {
    background-color: #9eb969;
}

#statistics .col-4:nth-child(4) .stat-box {
    background-color: #aac27c;
}


.stat-box span{
    display:block;
    text-align:center;
}

.stat-box .stat-icon{
    position:absolute;
    left:50%;
    top:-50px;
    transform:translateX(-50%);
    width:90px;
    height:90px;
    padding:25px;
    background-color:#fff;
    border-radius: 50%;
    border: 4px dashed #9eb969;
}

.stat-box .stat-num {
    font-size:2.1em;
    line-height: 1.2;
    color:#fff;
    font-family: var(--prim-font);
}


.stat-box .stat-title {
    margin-top:5px;
    font-size: 1.1em;
    color:#fff;

}

body{
    font-family: var(--body-font);
    font-size:18px;
}
img{
    max-width:100%;
    height:auto;
}

a{
    text-decoration: none;
    font-family:var(--prim-font);
}

h1, h2, h3, h4, h5, h6{
    color:var(--accent-color);
    font-family: var(--prim-font);
    font-weight: var(--prim-font-weight);
    line-height: 1.15;
    margin-bottom:10px;
}

p{
    margin-bottom:10px;
}

h1 {
    font-size: 3.7rem;
}


h2 {
    font-size: 2.6rem;
}
