/* 
    style.css
    main css file for cupping care
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* global variables */
:root{
    --prim-font: 'Roboto Slab', serif;
    --prim-font-weight: 500;
    --sec-font: 'Caveat', cursive;
    --sec-font-weight: 700;
    --body-font: 'Mukta', sans-serif;
    --body-font-weight: 300;

    --prim-color: #3d474d;
    --sec-color: #fff;
    --accent-color: #86a844;
}

html{
    font-size:16px;
    scroll-behavior: smooth;
}

#preloader-wrap{
    background-color:rgba(0,0,0,0.8);
    position:fixed;
    width:100%;
    height:100%;
    z-index:6;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#preloader{
    animation: rotate 1200ms ease-in-out infinite;
    width: 200px;
}

@keyframes rotate{
    0%{
        transform:translateY(-40px);
    }

    100%{
        transform: translateY(0px);
    }
}

.hero{
    min-height:680px;
}

.hero{
    /* background-image: url('/assets/hero-img.jpg'); */
    background-image: url('https://mdfarzan.github.io/Cupping-Care/assets/hero-img.jpg');
    
    background-size:cover;
    background-repeat:no-repeat
}

.hero.hero h1{
    margin-bottom: 18px;
    color: #fff;
}

.hero-content{
    padding:60px 0;
    color: #fff;
    
}

.hero-content p{
    margin-bottom: 30px;
}

header .container{
    padding:0;
}

.container, .container-fluid{
    padding:15px;
}

.container{
    max-width:1280px;
    margin:0 auto;
}

.container-fluid{
    max-width: 100%;
}

[class^="col-"]{
    padding:10px;
}

.col-3{
    width: 25%;
}

.col-4 {
    width: 33.33%;
    
}

.col-5 {
    width: 41.66%;
}

.col-6{
    width:50%;
}

.col-7{
    width:58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-12{
    width:100%;
}

.flex{
    display:flex;
}

.f-center{
    justify-content: center;
}

.f-h-center{
    justify-content: center;
}

.f-v-center {
    align-items: center;
}

.f-j-end{
    justify-content: flex-end;
}
.f-center-center{
    justify-content:center;
    align-items: center;
}

.hr-icon-info {
    display: flex;
    align-items: center;
    transition:300ms;
}

.hr-icon-info span{
    display:block;
}

.hr-icon-info .icon {
    display: inline-block;
    background: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    margin-right: 16px;
    line-height: 61px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.2)
}

.hr-icon-info img {
    width: 30px;
    
    
}

.hr-icon-info .icon-info {
    font-size: 22px;   
    color:#fff;
}

.hr-icon-info:hover {
    transform: scale(1.05);
    
}

#header-logo img{
    width:150px;
}



nav ul{
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding:8px 15px;
    color:#fff;
    text-transform:uppercase;
    transition:300ms;
    font-size:16px;
}



nav a.active, nav a:hover{
    color: var(--accent-color);
    background-color: #fff;
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    border-radius: 24px;
    transition: 300ms ease-in-out;
}

.btn.btn-primary {
    background-color: var(--accent-color);
    color: #fff;
    font-size: 16px;
}

.btn.btn-primary:hover {
    background-color: var(--prim-color);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    transform: translateY(-12px);
}

.btn.btn-secondary {
    background-color: var(--prim-color);
    color: #fff;
    font-size: 16px;
}

.btn.btn-secondary:hover {
    background-color: var(--accent-color);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    transform: translateY(-12px);
}

section .btn{
    margin-top:20px;
}

section{
    padding:80px 0;
}

#it-cures{
    background-color:#f6f6f6;
}

.title-box{
    margin-bottom: 25px;
}

.title-box span {
    display: block;
}

.title-box .sub-title {
    font-family: var(--sec-font);
    color: var(--accent-color);
    font-size:2rem;
    margin-bottom: 10px;
}

.title-box .main-title {
    font-family: var(--prim-font);
    color: var(--prim-color);
}

.icon-box .flex{
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.icon-box .box{
    width:33.33%;
    text-align: center;
    padding:20px;
}

.icon-box span{
    display:block;
}

.icon-box img{
    display:block;
    margin:auto;
    width:100%; 
}

.icon-box .circle{
    width:95px;
    height:95px;
    border-radius:50%;
    margin: 0 auto 10px;
    border:4px dashed var(--accent-color);
    padding:20px;
    transition:200ms ease-out;
}

.icon-box .box-title{
    font-size:16px;
}

.icon-box .box:hover .circle{
    background-color:#fff;
    
}


.offset-to-right {
    margin-right: -90px;
    z-index: 1;
    background: #F8F7F6;
    padding: 60px 40px;
    border-radius: 43px;
    box-shadow: 0 8px 24px rgba(112, 144, 176, 0.15);
}


#statistics{
    background-image:url('https://mdfarzan.github.io/Cupping-Care/assets/triangle-bg.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.stat-box{
    background-color: #79973d;
    position:relative;
    padding:70px 10px 40px;
    margin:0 15px;
    border-radius: 8px;
    transition: 200ms;
    user-select: none;
}

.stat-box .stat-icon{
    transition: 500ms;
}

.stat-box:hover{
    transform: translateY(-15px);
    box-shadow:0px 0px 24px rgba(112, 144, 176, 0.2);;
    
}

#statistics .col-4:nth-child(1) {
    margin-top: 30px;
}

#statistics .col-4:nth-child(2){
    margin-top:-30px;
}

#statistics .col-4:nth-child(3) {
    margin-top: 30px;
}

#statistics .col-4:nth-child(4) {
    margin-top: -30px;
}

#statistics .col-4:nth-child(2) .stat-box {
    background-color: #92b157;
}

#statistics .col-4:nth-child(3) .stat-box {
    background-color: #9eb969;
}

#statistics .col-4:nth-child(4) .stat-box {
    background-color: #aac27c;
}


.stat-box span{
    display:block;
    text-align:center;
}

.stat-box .stat-icon{
    position:absolute;
    left:50%;
    top:-50px;
    transform:translateX(-50%);
    width:90px;
    height:90px;
    padding:25px;
    background-color:#fff;
    border-radius: 50%;
    border: 4px dashed #9eb969;
}

.stat-box .stat-num {
    font-size:2.1em;
    line-height: 1.2;
    color:#fff;
    font-family: var(--prim-font);
}


.stat-box .stat-title {
    margin-top:5px;
    font-size: 1.1em;
    color:#fff;
}

#why-us{
    position:relative;
}

#why-us img{
    display:block;
    margin-left:25px;
    position:absolute;
    bottom:0;
}

body{
    font-family: var(--body-font);
    font-size:18px;
}

img{
    max-width:100%;
    height:auto;
}

a{
    text-decoration: none;
    font-family:var(--prim-font);
}

h1, h2, h3, h4, h5, h6{
    color:var(--accent-color);
    font-family: var(--prim-font);
    font-weight: var(--prim-font-weight);
    line-height: 1.15;
    margin-bottom:10px;
}

p{
    margin-bottom:10px;
}

h1 {
    font-size: 3.7rem;
}


h2 {
    font-size: 2.6rem;
}

h3{
    font-size: 2.1rem;
}

h4 {
    font-size: 1.9rem;
}


/* slider styling starts */

#testimonial {
    background-image: linear-gradient(to right, var(--prim-color) 50%, var(--accent-color) 50%);
    
}

.testimonial-wrap {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    border: 6px solid #fff;
    border-radius: 24px;
    background-color: var(--accent-color);
    padding: 40px;
    color: #fff;
}

.testimonial-wrap .slide {
    height: 100%;

}

.testimonial-wrap .col {
    padding: 10px;
}

.testimonial-wrap .avtar-wrap {
    width: 40%;
    display: flex;
    align-items: center;

}

.testimonial-wrap .content-wrap {
    width: 60%;
}

.testimonial-wrap .rounded-avtar {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
}

.testimonial-wrap .quote {
    font-size: 80px;
    color: var(--sec-color);
    line-height: 1;
}

.testimonial-wrap .quote.opposite {
    transform: rotateY(180deg);
}

.testimonial-wrap .credits {
    margin: 10px 0 30px;
    font-size: 22px;
}

.testimonial-wrap .ratings {
    position: relative;
    margin-left: 25px;
}

.testimonial-wrap .ratings::after {
    content: "\f005\f005\f005\f005\f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    color: #FED72E;
    width: 90%;
    overflow: hidden;
    line-height:1.5;
}

.testimonial-wrap .title {
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family:var(--prim-font);
    font-weight:400;
}

.testimonial-wrap .time-line li {
    display: inline-block;
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 8px;
}

.testimonial-wrap .time-line li.active {
    width: 80px;
}

.testimonial-wrap .time-line li:not(.active) {
    opacity: 0.5;
}

.testimonial-wrap .desc {
    line-height: 1.5;
    font-size: 18px;
}

.slides-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.slides-wrap .slide {
    position: absolute;
    z-index: 1;
    transition: 500ms ease-in-out;
    padding:0 15px;
}

/* slider styling ends */

.hr-list span {
    display: inline-block;
}

.hr-list .list-icon {
    font-size: 20px;
    color: var(--accent-color);
    margin-right: 10px;

}

.hr-list .list-info {
    font-size: 20px;
    vertical-align: text-bottom;
}

footer{
    background-color:var(--sec-color);
    padding:80px 0 00px;
}

footer h4{
    font-size:1.4em;
}

footer p{
    margin-top:20px;
}

.footer-credits{
    margin-top:15px;
    padding:10px;
    color:#fff;
    text-align:center;
    background-color: var(--prim-color);
}

.footer-credits a{
    color:#fff;
}

footer .col-4{
    padding:20px;
}

.hero-sm{
    display:none;
}

#call-us-btn{
    position:fixed;
    right:10px;
    bottom:15px;
    z-index:3;
    display:inline-block;
    width:80px;
    height:80px;
    display:none;    
    background-color:#fff;
    padding:15px;
    border-radius:50%;
    box-shadow:0px 0px 15px rgba(0,0,0,0.15);
}



/* adding responsiveness */

@media (max-width:1200px){

    .hero {
            padding: 0 15px;
        }

    h1 {
            font-size: 3.4rem;
        }
    h2 {
        font-size: 2.4rem;
    }

    .icon-box .box {
        padding: 16px;
    }

    .stat-box .stat-num {
        font-size: 2em;
    }

    .testimonial-wrap .title {
        font-size: 1.6em;
    }

}

@media (max-width:1024px){
    .hr-icon-info .icon-info {
        font-size: 20px;
    }

    nav {
        margin-top: 15px;
    }

    .icon-box .box-title {
        line-height: 1.5;
    }
    
    .icon-box .box {
        padding: 15px 0px;
    }
}

@media (max-width:991px){
    .hr-icon-info .icon-info {
        font-size: 18px;
    }

    .hr-icon-info .icon {
        width: 40px;
        height: 40px;
        line-height: 50px;
    }

    .hr-icon-info img {
        width: 24px;
    }

    .header-info .col-6 {
        width: 35%;
    }

    .header-info .col-3 {
        width: 32.5%;
    }

    #header-logo img {
        width: 120px;
    }

    nav a {
        font-size: 14px;
    }

    h1 {
        font-size: 2.8rem;
    }
    
    .hero-content .col-6 {
        width: 70%;
    }

    .btn.btn-primary {
        font-size: 15px;
    }

    .btn {
        padding: 12px 32px;
    }

    .icon-box .circle {
        width: 80px;
        height: 80px;
    }

    .icon-box .box-title {
        font-size: 15px;
    }

    h2 {
        font-size: 2.2rem;
    }

    .stat-box .stat-num {
        font-size: 1.5em;
    }

    .stat-box .stat-icon {
        top: -40px;
        width: 75px;
        height: 75px;
        padding: 18px;
    }

    #why-us img {
        
        z-index: -1;
    }

    .testimonial-wrap .rounded-avtar {
        width: 150px;
        height: 150px;
    }

    .testimonial-wrap {
        padding: 30px 40px;
    }

    .testimonial-wrap .quote {
        font-size: 60px;
    }

    .testimonial-wrap .credits span {
        display: block;
    }

    .testimonial-wrap .ratings {
        margin-left: 0;
    }

    .testimonial-wrap .title {
        font-size: 1.3em;
    }

    .hr-list {
        margin-bottom: 4px;
    }

    footer h4 {
        font-size: 1.2em;
    }

    footer .col-4 {
        padding: 14px;
    }

    .hr-list .list-info, .hr-list .list-icon {
        font-size: 18px;
    }


}

@media (max-width:767px){

    #call-us-btn{
        display:block;
    }

    .menu-icon {
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        padding: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .hero-md{
        display:none;
    }

    .hero-sm{
        display:block;
    }

    .hero-sm #header-logo img {
        width: 140px;
    }

    .hero-sm .header-info {
        padding-top: 10px;
    }

    .sm-menu {
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px;
        width: 100%;
        height: 100%;
        background-color:rgba(0,0,0,0.7);
        margin-top:0;
        z-index:2;
        transition:400ms ease-in-out;
        transform-origin: top left;
        transform: rotate(-90deg);
    }

    .sm-menu nav{
        height:100%;
        width:100%;
    }

    .sm-menu ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    #menu-close {
        width: 35px;
        height: 35px;
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .sm-menu a {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .hero-content .col-6 {
        width: 100%;
    }

    .header-info .col-12.flex.f-center-center{
        border-bottom:1px solid #fff;
        margin-bottom:15px;
    }

    section .flex{
        flex-direction: column;
    }

    #it-cures .flex{
        flex-direction: initial;
    }

    section{
        padding:50px 0;
    }

    section [class^="col-"] {
        width:100%;
    }

    .offset-to-right {
        margin-right: 0px;
    }

    #it-cures>.container>div.flex {
        flex-direction: column;
    }

    #about-us .flex {
        flex-direction: column-reverse;
        justify-content: center;
    }

    #statistics .col-4:nth-child(1) {
        margin-top: 0;
    }

    #statistics .col-4:nth-child(2){
        margin-top:50px;
    }

    #statistics .col-4:nth-child(3) {
        margin-top: 50px;
    }

    #statistics .col-4:nth-child(4) {
        margin-top: 50px;
    }

    #why-us .col-6:nth-child(1) {
        display: none;
    }

    .slides-wrap {
        width:95%;
    }

    .testimonial-wrap {
        flex-direction: column;
        padding: 15px 20px;
    }

    .testimonial-wrap .rounded-avtar{
        width:100px;
        height:100px;
    }

    .testimonial-wrap .avtar-wrap, .testimonial-wrap .content-wrap {
        width: 100%;
    }

    .testimonial-wrap .quote {
        font-size: 50px;
    }

    .testimonial-wrap .credits {
        margin: 10px 0 20px;
        font-size: 18px;
    }

    .testimonial-wrap .title {
        font-size: 1.1em;
    }

    .testimonial-wrap .time-line li {
        width: 30px;
    }

    .testimonial-wrap .time-line li {
        display: inline-block;
        width: 30px;
        height: 4px;
        background-color: #fff;
        border-radius: 8px;
    }
    
    footer{
        padding:60px 0 0;
    }

    footer .col-4 {
        width: 100%;
    }

    footer .flex {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .title-box .sub-title {
        font-size: 1.8rem;
    }

    .hero-content, #it-cures, .offset-to-right, .title-box, #why-us {
        text-align: center;
    }

    #it-cures p, .offset-to-right p, #why-us p {
        text-align:left;
    }

    .offset-to-right {
        padding: 30px;
    }
        
}

@media (max-width:480px){

    body {
            font-size: 17px;
        }

    .hr-icon-info .icon-info {
        font-size: 17px;
    }

    .hero-sm #header-logo img {
        width: 130px;
    }

    h1 {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 1.7rem;
    }
    
    .btn {
        padding: 10px 30px;
    }

    .btn.btn-primary {
        font-size: 14px;
    }

    .offset-to-right {
        padding: 30px 20px;
    }

    .title-box .sub-title {
        font-size: 1.6rem;
    }

    .testimonial-wrap .quote {
        font-size: 35px;
    }

    .icon-box .circle {
        width: 65px;
        height: 65px;
    }

    .icon-box .circle {        
        padding: 12px;
    }

    .icon-box .box-title {
        font-size: 14px;
        line-height: 1;
    }

    .footer-credits {   
        font-size: 16px;
    }

    .hero-sm{
        /* background-image: url('/assets/hero-img-sm.jpg'); */
        background-image: url('https://mdfarzan.github.io/Cupping-Care/assets/hero-img-sm.jpg');
        background-size:cover;
        
    }

}